@model IEnumerable<MoogleGoogle.Models.GatheringItem>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/EorzeaTime.js")"></script>

}

@{
    ViewBag.Title = "Gathering Clock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clock-wrapper">

    <div class="glyphicon glyphicon-time clock-icon"></div> <div id='e-time'></div>

</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FastestRoute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Perfecption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStartReadable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeEndReadable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FastestRoute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perfecption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            <a href="#" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i></a>

        </td>
    </tr>
}

</table>
